@{
    ViewBag.Title = "Pagina de inicio";
}

<h2>¡Bienvenido!</h2>
<div class="col-11" style="position:center">
    <a class="btn btn-success" href="~/Usuarios/Agregar" style="background-color: cadetblue">Agregar a un usuario</a>
    <a class="btn btn-success" style="background-color: cadetblue" href="~/Usuarios">Ver lista de usuarios</a>
</div>